*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#header{
    height: 14%;
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
}

#fakeheader{
    height: 14%;
    width: 100%;
}

#logo{
    height: 50%;
    margin: 32px;
}

#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texts{
    color: rgb(0, 0, 98);
    margin: 18px;
    font-weight: bold;
    font-size: 14px;
}

.texts:hover{
    color: rgb(38, 172, 225);
}

#contactdetails{
    text-align: center;
    margin-left: 180px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: lighter;
}

#contactdetails p{
    padding-top: 10px;
}

.icon{
    width: 20px;
    margin-left: 8px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.icon:hover{
    background-color: lightblue;
    color: rgb(0, 151, 210);
}

#login{
    display: flex;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

#login:hover{
    background-color: lightblue;
}

#try{
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color:green;
}

#try:hover{
    background-color: rgb(1, 60, 1);
}

#page1{
    height: 86%;
    width: 100%;
    /* background-color: #ff6e6e; */
}

#blueheading{
    height: 8%;
    width: 100%;
    background-color: darkblue;
    display:flex;
    align-items: center;
    justify-content: center;
}